<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="outputdirectory" value="C:\\output"/>
    <add key="logFilePath" value="C:\\output\\log.txt"/>
    <add key="datasource" value="VIJA-BLR-01"/>
    <add key="mailId" value="tarunnagraj1995@gmail.com"/>
    <add key="appSpecificPassword" value="lfdaaytsgfcqwqeq"/>
    <add key="candidateEmail" value="tarunnagraj1995@gmail.com"/>
    <add key="catalog" value="DB_Attendance"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>